; Add the donor centre controls without transplanting the A330-200 cockpit.
[SIM_ATTACHMENT.3]
attachment_root="SimObjects\Airplanes\microsoft-a330\attachments\a330wv081community\Function_A330_Center_Controls"
attachment_file="model/center_controls.xml"
attach_to_model="interior"
attach_to_model_minsize=1
always_execute_model_behavior=1
alias="WV081_Center_Controls"
